[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-apocalypse
Exec=harbour-apocalypse
Name=Apocalypse
Name[de]=Apokalypse

[X-Sailjail]
OrganizationName=org.nubecula
ApplicationName=apocalypse
Permissions=Internet;Audio;Location
ExecDBus=/usr/bin/harbour-apocalypse -prestart
